---
import '../styles/global.css';

import ExternalIcon from '../icons/external-icon.astro';
import Logo from '../logo.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lune</title>
    <meta
      name="description"
      content="An open-source solution for commerce management."
    />
  </head>
  <body class="bg-[#111111] p-4 h-svh">
    <div class="w-full h-full flex items-center justify-center flex-col gap-10">
      <div class="flex items-center gap-2 fixed top-6">
        <Logo />
        <h2>Lune</h2>
      </div>
      <div class="flex flex-col gap-1 items-center">
        <h1 class="text-center text-balance">
          An open-source solution for commerce management.
        </h1>
        <a
          href="http://github.com/lunejs/lune"
          target="_blank"
          rel="noopener noreferrer"
          class="text-[#0070FF] flex items-center gap-2"
        >
          Github <ExternalIcon />
        </a>
      </div>
    </div>
  </body>
</html>
